.about.header {
    background: url(../img/about-2.jpg) no-repeat top / cover;
}

.about.footer::before {
    background: url(../img/about-2.jpg) no-repeat bottom / cover;
}

.about.main-section .container {
    background: url(../img/about.webp) no-repeat 120px center / cover;
    border: 20px solid #272727;
}

.header-bottom {
    display: block;
}

.about .about-us {
    padding-top: 60px;
    padding-bottom: 200px;
    padding: 60px 0 200px 40px;
    width: 100%;
    background: linear-gradient(102.84deg, #272727 50.19%, rgba(39, 39, 39, 0) 50.53%);
}

.about .about-us .wrapper {
    width: 34vw;
    max-width: 500px;
}

.about .about-us .divider {
    width: 80px;
    margin-left: 0;
}

.about .about-us h2,
.about .about-us h3 {
    text-align: left;
}

.about .about-us p {
    margin-top: 76px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.about .about-us-img {
    background: url(../img/about.webp) no-repeat right -100px/ cover;
    display: none;
}

@media (max-width:1220px) {
    .about.main-section .container {
        background-position: 0px center;
    }
}

@media (max-width:1100px) {
    .about.main-section .container {
        background-position: -120px center;
    }
}

@media (max-width:980px) {
    .about.main-section .container {
        background: #272727;
        border: none;
        border-radius: 20px 20px 0;
        margin-top: -120px;
    }

    .about .about-us {
        padding: 42px 50px 92px;
        background: none;
    }

    .about .about-us h2,
    .about .about-us h3 {
        text-align: center;
    }

    .about .about-us .wrapper {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .about .about-us .divider {
        margin-left: auto;
    }

    .about.main-section {
        padding: 0px;
    }

    .about .header-bottom {
        display: none;
    }

    .about .about-us-img {
        display: block;
        width: 100vw;
        height: 55vw;
    }
}

@media (max-width:576px) {
    .about.main-section .container {
        margin-top: -60px;
    }

    .about .about-us-img {
        background-position: right -30px;
    }

    .about .about-us {
        padding: 42px 20px 92px;
    }

    .about .divider {
        margin: 10px auto 7px;
    }
}