.contact.header {
    background: url(../img/contactUsBgTop.jpg) no-repeat center / cover;
}

.contact .section-divider {
    width: 100%;
    height: 90px;
    background: #323232;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}
.header-bottom{
    display: block;
  }
.contact .contact-us-slider {
    display: none;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    width: 100vw;
    height: 180px;
}
.contact .contact-us-slider .slide{
    /* display: none; */
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    min-width: 300px;
    width: 100%;
}

.contact .container {
    width: 100%;
    overflow: hidden;
}

/* .contact-us-slider .wrapper {
    display: flex;
} */
.contact .contact-us-slider .slide p {
    max-width: 450px;
    padding: 0 20px;
    margin: auto;
}

.contact .slider-dotes {
    margin-top: 19px;
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
    display: none;
    cursor: pointer;
}

.contact .slider-dotes div {
    width: 18px;
    height: 3px;
    background: #767575;
    margin: 0 5px;
    line-height: none;
}

.contact .slider-dotes div.active {
    background: #272727;
}

.contact .slick-list {
    width: 100vw;
    overflow: hidden;
}

.contact .slick-track {
    display: flex;
}

/* #contactUs.contactUsDay{
    background: url(../img/contactUsBgD.jpg) no-repeat center / cover;;
}
#contactUs.contactUsEvening{
    background: url(../img/contactUsBgEv.jpg) no-repeat center / cover;;
}
#contactUs.contactUsNight{
    background: url(../img/contactUsBgD.jpg) no-repeat center / cover;;
}
#contactUs.contactUsMorning{
    background: url(../img/contactUsBgMo.jpg) no-repeat center / cover;;
} */
@media (max-width:980px) {
    .contact .header-bottom {
        display: none;
    }

}

@media (max-width:768px) {
    .contact .slider-dotes{
        display: flex;
    }
    .contact .contact-us-slider {
        display: block;
    }

    .contact .img-wrapper {
        margin: 0 auto 24px;
        background: #565656;
        border: 2px solid #272727;
        width: 68px;
        height: 68px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact .section-divider {
        height: 60px;
    }
}